.block-title {
    font-size: 1.25em;
    font-weight: 500;
    margin: 1em 0;
}

.block {
    flex: 1;
    box-shadow: 0 1px 35px -1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1em;
	&__no-data {
		margin: .5em 0;
		color: #868686;
		&__header {
			font-size: 1.25em;
			font-weight: 500;
		}
	}
}
.block-header {
	&__title {
		font-size: 1.05em;
		font-weight: 500;
	}
}

@media screen and (max-width:$mobilewidth) {
	.page {
		margin: 0 0 1em;
		padding: 0;
	}
	.block-item {
		flex-direction: column;
		padding: .5em;
		&__left__video {
			width: 100%;
		}
	}
}