
.btn {
    font-size:inherit;
    border-radius: 50px;
    padding: .25em 1.5em;
	&:hover{
		background-color:inherit;
		border-color:inherit;
		filter:brightness(1.05);
	}
	
	&-success{
		background-color:$green!important;
		border-color:$green!important;
		color:#fff!important;
	}
	&-success.btn-contour {
		border: 1px solid;
		color:$green!important;
		background:#fff!important;
	}
	
	&-primary{
		background-color:$violet!important;
		border-color:$violet!important;
		color:#fff!important;
	}
	&-primary.btn-contour {
		border: 1px solid;
		color:$violet!important;
		background:#fff!important;
	}
	&-grey.btn-contour {
		border: 1px solid #ccc;
		color:#000!important;
		&:hover{
			background:#eee;
		}
	}
}