.form-progress {
    display:flex;
	align-items:center;
	.progress{
		margin: 0 0 0 1.75em;
		flex:1;
	}
	&__title {
		font-size: 1.25em;
		margin: 0 0 0 1em;
		font-weight: 500;
	}
}

.form-bottom {
	display: flex;
	align-items: center;
}
.form-progress {
	flex: 1;
}

.form-progress-container {
	flex: 1;
}
	
.progress-bar {
    background: #c94ff3;
}

.form-step {
    margin: 0 0 1em;
	&__title {
		font-size: 2em;
		margin: .5em 0;
		font-weight: 400;
	}

	&__description {
		margin: -1em 0 1em;
		font-size: 1.25em;
		font-weight: 200;
	}
}
@media screen and (max-width:$mobilewidth) {
	.form-step__title {
		font-size: 1.5em;
	}

	.form-step__description {
		font-size: 1em;
		margin: -0.5em 0 1em;
	}

	

	.form-progress__title {
		font-size: 1em;
		margin: 0;
	}

	

	.form-progress .progress {
		margin: 0 1em;
	}
}