.navbar-light {
   box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.15);
	.navbar-logo {
		height: 1.5em;
	}
	.navbar-collapse{		
		justify-content: flex-end;
	}
	.navbar-slogan {
		font-size: .75em;
		margin: 0 0 0 1em;
	}

	.nav-link {
		font-size: .95em;
		margin: 0 0 0 1em;
		font-weight: 500;
		color: #555!important;
		&:hover {
			color: $violet!important;
		}
	}
}
@media screen and (max-width:$mobilewidth) {
	.navbar-brand {
		text-align: left;
		margin: 0;
		float: left;
	}

	.navbar-slogan {
		display: none;
	}


	.navbar-toggler {
		float: right;
		border-radius: 0;
	}

	.navbar-light .nav-link {
		margin: 0;
		text-align: center;
	}

	.navbar-collapse {
		margin: 10px 0 0;
	}

	.nav-item {
		border-bottom: 1px solid #eee;
	}
	.nav-item:last-of-type {
		border-bottom: 0px solid #eee;
	}
}