$placeholder-color:#ccc;
.form-control::-webkit-input-placeholder { 
  color: $placeholder-color;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: $placeholder-color;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: $placeholder-color;
  opacity: 1;
}
.form-control:-moz-placeholder { /* Firefox 4 - 18 */
  color: $placeholder-color;
  opacity: 1;
}
