.menu-items{
	&__header{
		margin: 1.25em 0;
		&__name {
			font-size: 1.25em;
			font-weight: 500;
		}
	}
}
.block-item {
    height: 100%;
    display: flex;
    margin:0 0 .5em;
	&:last-of-type{
		margin:0;
	}
	display: flex;
	flex: 1;
	box-shadow: 0 1px 35px -1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	&__left {
			flex: 1;
			margin: 1em;
			&__buttons {
				margin: .5em 0 0;
				display: flex;
				.btn {
					flex: 1;
					border-radius: 5px;
					font-weight: 300;
				}
			}
	}

	&__picture {
		border-radius: 10px;
		overflow:hidden;
		width: 100%;
	}
	&__info {
		flex: 1.5;
		margin: 1em;
		display: flex;
		flex-direction: column;
	}

	&__name {
		font-size: 1.05em;
		font-weight: 500;
	}

	&__energy-value {
		font-size: .85em;
		color: #999;
	}

	&__text {
		&__header {
			margin: .5em 0;
			font-weight: 500;
		}

		&__contents {
			line-height: 1.5;
			font-size: .85em;
			overflow: auto;
			p {
				margin: 0 0 .5em;
			}
			p:empty {
				display: none;
			}
			br {
				display: none;
			}

			* {
				font: inherit!important;
			}
		}
	}
	&__ingredient {
		display: flex;
		justify-content: space-between;
		padding: .15em 0;
		border-bottom: 1px solid #ddd;
		&__count {
			font-weight: 500;
		}
	}

}