.preloader {
	width: 5em;
    height: 5em;
    border: .5em solid $violet;
    border-radius: 50%;
    border-left-color: rgba(0,0,0,0);
    animation: preloaderElement linear 1s infinite;
	&__container {
		position:relative;
		padding:3em;
	}
	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: rgba(255, 255, 255, 0.55);
		display:flex;
		align-items: center;
		justify-content: center;
	}
}

@-webkit-keyframes preloaderElement{
    from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes preloaderElement{
    from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}