.recipes__category {
    margin: 0 0 1em;
    cursor: pointer;
	color:$black;
	display:block;
	&:hover{
		background:#fafafa;
		color:$black;
		text-decoration:none;
	}
	.block-title {
		margin: .5em 0 0;
	}
	&__picture {
		width: 100%;
		padding-top: 50%;
		background: url(/assets/default-cover.png) no-repeat center center;
		background-size:cover;
	}
}
.recipe {
	&__picture {
		height: 350px;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 1em 0;
	}

	&__texts__item__contents {
		line-height: 2;
		font-size: 1.1em;
		margin: 0 0 1em;
	}

	&__energy-values__text {
		color: #555;
	}

	&__time-cook {
		color: #999;
		display: flex;
		align-items: center;
		&__text {
			margin: 0 0 0 .5em;
		}
	}
}
@media screen and (max-width:$mobilewidth) {
	.recipe{
		&__info {
			flex-direction: column;
			align-items: flex-start;
		}

		&__time-cook {
			margin: 0 0 .5em;
		}

		&__texts__item__contents {
			font-size: 1em;
		}
	}
}
