.schedule {
	&__header{
		font-size:1.25em;
		font-weight:500;
		margin:1em 0;
	}
	&__list {
		font-size: .85em;
	}

	&__day-select {
		position: relative;
		display: inline-block;
		&__item {
			cursor: pointer;
		}
		&__current-item {
			cursor: pointer;
			border-bottom: 1px dashed;
		}
		&__items {
			display: flex;
			flex-direction: column;
			position: absolute;
			left: 0;
			background: #fff;
			z-index: 1;
			box-shadow: 0 1px 35px -1px rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			padding: .5em 1em;
		}
	}
	
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0 1px 35px -1px rgba(0, 0, 0, 0.1);
		padding: 1em 1.5em;
		margin: 0 0 .5em;
		cursor:pointer;
		border-radius:10px;
		border: 1px solid rgba(255,255,255,0);
		position:relative;
		&:after{
			content:">";
			color:$green;
			display:none;
			position: absolute;
			right: -1.5em;
			font-weight: 600;
			transform: scaleY(1.5);
		}
		&[data-type=TYPE_MEASUREMENT]:after {
			color: $violet;
		}
		&--current {
			border: 1px solid $green;
			&:after{
				display:block;
			}
			&[data-type=TYPE_MEASUREMENT] {
				border-color: $violet;
			}
		}
		&:last-of-type {
			margin: 0;
		}
		&__name {
			font-weight: 600;
			margin: 0 .75em 0 0;
		}

		&__time {
			color: #777;
		}
	}
}