.select-buttons{
	background:$violet;
	border-radius:35px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:2px 2px 2px 5px;
	&__item {
		flex:1;
		text-align:center;
		display: inline-block;
		font-size: 1.25em;
		padding: .35em 1em;
		margin: 0 0 0 -2px;
		cursor:pointer;
		border-radius:35px;
		color:#fff!important;
		&:hover{
			background:rgba(255,255,255,.25);
		}
		&--current{
			background:#fff!important;
			color:$black!important;
			&:hover{
			   background:$violet;
			}
		}	
	}
	&--small &__item{
		font-size:.85em;
	}
	&--grey {
		background:$grey;	
	}
	&--grey &__item{
		color:$black!important;
	}
}