$mobilewidth: 640px;
@import "_colors.scss";
@import "components/Schedule.scss";
@import "components/Buttons.scss";
@import "components/Header.scss";
@import "components/Preloader.scss";
@import "components/SweetAlert.scss";
@import "components/MenuItem.scss";
@import "components/Block.scss";
@import "components/Inputs.scss";
@import "components/SelectButtons.scss";
@import "components/Recipes.scss";
@import "components/ErrorPage.scss";
@import "components/Forms.scss";

@import "~react-vis/dist/style";

@font-face {
    font-family: ProximaNova;
    src: url(/fonts/ProximaNova-Light.otf) format("opentype");
    font-weight: 100;
}
@font-face {
    font-family: ProximaNova;
    src: url(/fonts/ProximaNova-Reg.otf) format("opentype");
    font-weight: 300;
}
@font-face {
    font-family: ProximaNova;
    src: url(/fonts/ProximaNova-Semibold.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url(/fonts/ProximaNova-Bold.otf) format("opentype");
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url(/fonts/ProximaNova-Xbold.otf) format("opentype");
    font-weight: 700;
}
body { 
	font-family:"ProximaNova",Arial,Roboto,Helvetica,sans-serif;
	font-weight:300;
}

